*,
*::before,
*::after {
    font-family: "Poppins" !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

button {
    border: none;
    cursor: pointer;
}

input {
    font-size: 17px !important;
}